<header class="header">
    <nav class="navbar">
        <div class="logo">EMPATIC</div>
        <ul class="nav-links">
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="../consultoras/index.html">Consultoras</a></li>
            <li><a href="../acciones_empaticas/index.html">Acciones Empáticas</a></li>
            <li><a href="../novedades/index.html">Novedades</a></li>
            <li><a href="../contacto/index.html">Contacto</a></li>
        </ul>
        <a href="#" class="cta">EMPATIC ACADEMY</a>
    </nav>
</header>
