/* Ajustes generales */
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Tamaño y posición de los botones de navegación */
.swiper-button-next, .swiper-button-prev {
    color: white !important;
    font-size: 20px !important;
    width: 50px !important;
    height: 50px !important;
}
